body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: var(--bg-color);
}

:root {
    --main-font: 'Darker Grotesque', sans-serif;
}

:root {
    --sec-font: 'Cormorant Garamond', serif;
}

:root {
    --black-color: #212121;
}

:root {
    --gray-color: #737373;
}

:root {
    --white-color: #ffffff;
}

:root {
    --bg-color: #EFEFEF;
}

:root {
    --primdark-color: #5C002F;
}

:root {
    --primlight-color: #FFA0B7;
}

  :root {
    --primhover-color: #FECED7;
}

/*Header*/

header {
    display: flex;
    flex-flow: row nowrap;
    padding: 12px 44px 12px 44px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    height: 60px;
    width: 100%;
    background-color: var(--bg-color);
    position: fixed;
    top: 0;
}
  
.logo a {
    display: flex;
    align-items: center;    
}

.email {
    font-family: var(--main-font);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.2px;
    flex-grow: 2;
    padding: 0% 0% 0% 10%;
    color: var(--black-color);
}

.media {
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-between;
    align-items: center;
    width: 140px;
}

.round-button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.round-button svg {
    width: 44px;
    height: 44px;
}

.svg-icon {
    fill: var(--black-color);
    transition: background-color 0.3s ease;
}

.round-button:hover {
    background-color: var(--primhover-color);
}

.round-button:hover .svg-icon {
    fill: var(--primdark-color);
}

/*Footer*/

footer {
    display: flex;
    padding: 80px 80px 40px 80px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 40px;
    height: fit-content;
    align-self: stretch;
    background-color: #F9F9F9;
    flex-wrap: wrap;
}

.footer-contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    align-self: stretch;
}

.footer-contacts-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 800px;
    width: 100%;
    flex-grow: 2;
}

.footer-title {
    color: var(--primdark-color);
    font-family: var(--sec-font);
    font-size: 40px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.footer-subtitle {
    color: var(--primdark-color);
    font-family: var(--main-font);
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    padding-left: 35%;
}

.footer-media {
    display: flex;
    padding: 20px 28px 12px 20px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 10px;
    border-radius: 16px;
    background: var(--primhover-color);
}

.footer-small-title {
    color: var(--primdark-color);
    font-family: var(--sec-font);
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    padding-left: 8px;
}

.footer-email {
    color: var(--primdark-color);
    text-align: right;
    font-family: var(--main-font);
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-self: stretch;
    padding-left: 8px;
}

.footer-email p {
    margin: 0px;
    cursor: pointer;
}

[data-tooltip] {
    --arrow-size: 5px;
    position: relative;
    z-index: 10;
  }
  
  /* Positioning and visibility settings of the tooltip */
  [data-tooltip]:before,
  [data-tooltip]:after {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    left: 50%;
    bottom: calc(70% + var(--arrow-size));
    pointer-events: none;
    transition: 0.2s;
    will-change: transform;
  }
  
  /* The actual tooltip with a dynamic width */
  [data-tooltip]:before {
    content: attr(data-tooltip);
    padding: 4px 8px;
    min-width: 40px;
    max-width: 300px;
    width: max-content;
    width: -moz-max-content;
    border-radius: 6px;
    font-family: var(--main-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    background-color: #ffd6df;
    box-shadow: 0px 0px 24px rgba(92, 0, 47, 0.1);
    color: var(--primdark-color);
    text-align: center;
    white-space: pre-wrap;
    transform: translate(-50%,  calc(0px - var(--arrow-size))) scale(0.5);
  }
  
  /* Tooltip arrow */
  [data-tooltip]:after {
    content: '';
    border-style: solid;
    border-width: var(--arrow-size) var(--arrow-size) 0px var(--arrow-size); /* CSS triangle */
    border-color: #ffd6df transparent transparent transparent;
    transition-duration: 0s; /* If the mouse leaves the element, 
                                the transition effects for the 
                                tooltip arrow are "turned off" */
    transform-origin: top;   /* Orientation setting for the
                                slide-down effect */
    transform: translateX(-50%) scaleY(0);
  }
  
  /* Tooltip becomes visible at hover */
  [data-tooltip]:hover:before,
  [data-tooltip]:hover:after {
    visibility: visible;
    opacity: 1;
  }
  /* Scales from 0.5 to 1 -> grow effect */
  [data-tooltip]:hover:before {
    transition-delay: 0.3s;
    transform: translate(-50%, calc(0px - var(--arrow-size))) scale(1);
  }
  /* 
    Arrow slide down effect only on mouseenter (NOT on mouseleave)
  */
  [data-tooltip]:hover:after {
    transition-delay: 0.5s; /* Starting after the grow effect */
    transition-duration: 0.2s;
    transform: translateX(-50%) scaleY(1);
  }

.footer-round-button {
    width: 40px;
    height: 40px;
    border: none;
    background-color: var(--primhover-color);
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.footer-round-button svg {
    width: 44px;
    height: 44px;
}

.footer-svg-icon {
    fill: var(--primdark-color);
    transition: background-color 0.3s ease;
}

.footer-round-button:hover {
    background-color: var(--primlight-color);
}

.footer-round-button:hover .footer-svg-icon {
    fill: var(--primdark-color);
}

.divider {
    width: 100%;
    border-top: 1px solid var(--primdark-color);
    opacity: 0.2; 
}

.list-line {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    gap: 12px;
    align-self: stretch;    
}

.footer-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    align-self: stretch;
}

.footer-list a {
    color: var(--primdarkt-color);
    text-align: center;
    font-family: var(--main-font);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.footer-list a:hover {
    text-decoration: underline;
}

 /* Main content */

 .main-content {
    display: flex;
    flex-direction: column;
    padding: 0% 5% 5%;
    gap: 40px;
 }

.body-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
    height: 100vh;
}

.body-title {
    color: var(--black-color);
    font-family: var(--sec-font);
    font-size: 40px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.body-subtitle {
    color: var(--black-color);
    font-family: var(--main-font);
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 112.1%; 
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    align-self: stretch;
    padding-left: 45%;
}

.body-role {
    width: fit-content;
    height: fit-content;
    padding: 1px 4px 3px 4px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.body-no-role {
    margin-left: 6px;
    margin-right: 6px;
    text-align: center;
}

.body-role:hover {
    color: var(--primdark-color);
    background-color: var(--primhover-color);
}

.aboutme {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 60px;
}

.aboutme-text {
    color: var(--black-color);
    font-family: var(--main-font);
    align-items: flex-start;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
    flex-grow: 2;
    max-width: 1100px;
    width: 100%;
}

.aboutme-sec-text {
    color: var(--black-color);
    font-family: var(--sec-font);
    font-size: 28px;
    font-style: italic;
    font-weight: 400;
    line-height: 145%;
    text-transform: uppercase;
    align-items: flex-start;
}

.software-content {
    display: block;
    width: 30%;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    flex-grow: 1;
    padding-top: 20px;
}

.italic-title {
    color: var(--black-color);
    font-family: var(--sec-font);
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.software-list {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px;
    align-self: stretch;
    flex-wrap: wrap; 
}

.software-list-item {
    display: flex;
    width: fit-content;
    height: fit-content;
    padding: 1px 10px 4px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid var(--primlight-color); 
    color: var(--primdark-color);
    text-align: center;
    font-family: var(--main-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}